<html>
  <head>
    <title>Greeting Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="add_coins.js"></script>
    <link rel="stylesheet" href="css/add_coins.css">
  </head>
  <body>
    <div class="logo">
      <img src="grumpy_cat.jpg">
    </div>
    <div class="coin-form-wrapper">
    </div>
  </body>
</html>
