$orange:#D78123;
$blue:#1E1641;
$green:#02d330;
$grey:#999;
$red:#ff3030;

.coin-form-wrapper {
  background-color: $grey
}

.response_field {
  background-color: $red
}

.mixed_address_html {
  background-color: $green
}
